@import './base.css';

#app {
  --major: #6e6e6e;
  --background-color: #f4f4f4;
  --site-edge-margin: 25px;
}
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Noto+Sans+TC:wght@400&display=swap');
 body,
 html {
   background-color: var(--background-color);
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans TC', sans-serif;
 }

